<!DOCTYPE html>
<html class="animsition">
	<head>
		<title>DiPinto Guitars</title>
		<link rel="stylesheet" type="text/css" href="/styles//styles.css">
		<link rel="stylesheet" type="text/css" href="/styles/animsition.css">
		<script src='http://code.jquery.com/jquery-2.1.4.js'></script>
		<script src="/scripts/jquery.animsition.js"></script>
		<script src="/scripts/call.js"></script>
		<script src='/scripts//.js'></script>
		<meta charset="UTF-8">
	</head>
	<a class="animsition-link"  href="about"><body>
		<div id="bg">
			<img src="/images/Dipinto2b.jpg" alt="DiPinto Guitars">
		</div>
		
		<img class='delayfade /logo' src="/images/logo.png" alt="Dipinto">
		

		<div class='delayfade /bar'>
			<h1>CORPORATE GUITARS STILL SUCK</h1>
		</div>

	</body></a>
</html>