<!DOCTYPE html>
<html class="animsition">
	<head>
		<title>DiPinto Guitars</title>
		<link rel="stylesheet" type="text/css" href="/styles/mainstyles.css">
		<link rel="stylesheet" type="text/css" href="/styles/guitars.css">
		<link rel="stylesheet" type="text/css" href="/styles/animsition.css">
		<script src='http://code.jquery.com/jquery-2.1.4.js'></script>
		<script src="/scripts/jquery.animsition.js"></script>
		<script src="/scripts/call.js"></script>
		<meta charset="UTF-8">
	</head>
	<body>
		<a class="animsition-link" href="/"><img class='cornerlogo' src="/images/logo.png" alt="DiPinto Guitars Logo"></a>
		
		<nav>
			<ul>
				<li><a class="animsition-link" href="about"><strong>ABOUT</strong></a></li>
				<li><a class="animsition-link" href="guitars"><strong>GUITARS</strong></a></li>
				<li><a class="animsition-link" href="questions"><strong>QUESTIONS</strong></a></li>
				<li><a class="animsition-link" href="testimonials"><strong>TESTIMONIALS</strong></a></li>
			</ul>
		</nav>

		<div class='content'>
			
			
		</div>
		<div class='social-media'>
			<a href='https://www.facebook.com/dipintoguitars' target="_blank"><img src='/images/iconfb.png' alt='myspace'></a>
			<a href='https://www.youtube.com/user/DiPintoGuitar?feature=mhsn' target="_blank"><img src='/images/iconyt.png' alt='facebook'></a>
			<a href='https://www.pinterest.com/dipintogutiars/' target="_blank"><img src='/images/iconp.png' alt='facebook'></a>
		</div>
	</body>
</html>