<!DOCTYPE html>
<html>
	<head>
		<title>DiPinto Guitars</title>
		<link rel="stylesheet" type="text/css" href="../public/styles/mainstyles.css">
		<link rel="stylesheet" type="text/css" href="../public/styles/testimonials.css">
		<!-- <script src='http://code.jquery.com/jquery-2.1.4.js'></script> -->
		<!-- <script src='.js'></script> -->
		<meta charset="UTF-8">
	</head>
	<body>
		<a href="cover.html"><img class='cornerlogo' src="../public/images/logo.png" alt="DiPinto Guitars Logo"></a>

		<nav>
			<ul>
				<li><a href="about.html"><strong>ABOUT</strong></a></li>
				<li><a href="guitars.html"><strong>GUITARS</strong></a></li>
				<li><a href="questions.html"><strong>QUESTIONS</strong></a></li>
				<li><a href="testimonials.html"><strong>TESTIMONIALS</strong></a></li>
			</ul>
		</nav>

		<div class='content'>
			<div class='buffer'>
				<div class='testimonialsheader'>
					<h1 class='headline'>TESTIMONIALS</h1>
				</div>

				<div class='sub-headline'>
					<h2>What our customers are saying:</h2>
				</div>

				
				<img class='conan'src="../public/images/conandipinto.jpg">

				<div class='para1'>
					<h2>Conan O'Brian</h2>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>

				<img class='pic2'src="../public/images/testimonialspic2.jpg">

				<div class='para2'>
					<h2>Bad Hair Guy</h2>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>

			</div>
		</div>

		<div class='social-media'>
			<a href='https://www.facebook.com/dipintoguitars' target="_blank"><img src='../public/images/iconfb.png' alt='myspace'></a>
			<a href='https://www.youtube.com/user/DiPintoGuitar?feature=mhsn' target="_blank"><img src='../public/images/iconyt.png' alt='facebook'></a>
			<a href='https://www.pinterest.com/dipintogutiars/' target="_blank"><img src='../public/images/iconp.png' alt='facebook'></a>
		</div>
	</body>
</html>