.content {
  height: 1200px;
}

.headline {
  text-align: center;
  font-size: 3.5vw;
  margin-top: -20px;
  border-bottom: solid black 1px;
  border-left: solid black 7px;
  border-right: solid black 7px;
  border-radius: 10px 10px 100px 100px;
}

.buffer {
  padding: 50px;
}

.sub-headline {
  text-align: center;
  margin: 35px;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.conan {
  display: block;
  float: left;
  max-width: 30%;
  max-height: 500px;
  padding: 20px;

}

.para1 {
  margin: 25px;
  min-height: 400px;
  
}

.pic2 {
  display: block;
  float: left;
  clear: both;
  max-width: 100%;
  max-height: 600px;
  padding: 20px;

}

.para2 {
  margin: 25px;
  min-height: 400px;
}






